In [99]:
import pandas as pd
import math

THIS IS CODE USED IN ASSIGNMENT 2 TO CLEAN NEWS
def clean_news(n):
    n = re.sub('\[[^]]*\]', '', n)
    n = re.sub(r"(?:\@|https?\://)\S+", "", n)  #remove user name from tweets and URLs
    n = n.encode('ascii', 'ignore').decode('ascii') #remove emoticons
    n = re.sub(r"[^a-zA-Z0-9]+", ' ', n) 
    n = n.lower()
    n = n.replace("'s","") #cases Dalhousie University's, Halifax's
    n = n.replace(r"\n", " ")
    n = n.replace(r"\r", " ")
    return n

In [100]:
df_news = pd.read_csv('clean_news.csv') #cleaned files in 2nd Assignment...

In [101]:
numOfDocs = df_news.shape[0]
print("Number of documents: ",df_news.shape[0])

Number of documents:  481

In [102]:
df_news = df_news.loc[:, ~df_news.columns.str.contains('^Unnamed')]

In [103]:
df_news['news'] = df_news['title'] +' '+ df_news['description'] +' '+ df_news['content']

In [104]:
df_news = df_news[['news']]

In [105]:
df_news

                                                  news
0    howard university and amazon want to diversify...
1    mark zuckerberg took on china in a speech defe...
2    penn state investigates new allegations agains...
3    mark zuckerberg on lies in political ads i don...
4    physicists win nobel prize for finding exoplan...
5    report university of iowa faculty told not to ...
6    lori loughlin s daughters are no longer enroll...
7    oxford professor is accused of selling ancient...
8    beer here merchandising of college sports lead...
9    we re not ready for the next pandemic if the s...
10   news icon trump base will follow him to hell a...
11   don valentine who founded sequoia capital has ...
12   pioneers of lithium ion batteries win the 2019...
13   texas a m commerce police say there was an inc...
14   students burn books after diversity lecture st...
15   is artificial intelligence the ultimate univer...
16   okay but can we teach the rats to race  scient...
17   researchers taught autonomous camera drones to...
18   the experimental future of digging up the past...
19   researchers created lenses a thousand times th...
20   harvard has produced more ultra wealthy people...
21   snoop dogg unapologetic about university gig d...
22   the 21 cities in the us where people carry the...
23   unsurprisingly tv streaming devices are collec...
24   researchers taught rats how to drive tiny cars...
25   viagra might someday enhance bone marrow trans...
26   mysterious cases of paralysis in children may ...
27   why populist democrats have gained the upper h...
28   robert provine an authority on laughter is dea...
29   two ghanaian lecturers suspended after bbc afr...
..                                                 ...
451  the first arabic novel to win the internationa...
452  as election campaigns hustle to get out the vo...
453  bruce lefavour a good cook dies at 84 as a res...
454  a growing number of women allege doctors abuse...
455  factbox canada s political party positions ahe...
456  autism panel recommends rewrite of ontarios co...
457  why do immigrants out perform native born amer...
458  why do immigrants outperform native born ameri...
459  making life saving medical treatments more aff...
460  tragedies deepen jewish muslim bonds to fight ...
461  cdc three stds at an all time high in u s the ...
462  indonesian president taps opposition rival tec...
463  cannabis training university launches online c...
464  lyft rolls out free rides to help job seekers ...
465  magellan aerospace is 30 undervalued in an ind...
466  toronto is one of the least happy cities in ca...
467  the future of education the future of educatio...
468  teenagers save the day staff polling station i...
469  esports and education looking beyond the money...
470  greta thunberg leads climate strike in alberta...
471  cd baby dash go expand into india cd baby has ...
472  election 2019 top things canadians searched go...
473  scientists uncover the process behind protein ...
474  leafly announces leafly learn an online educat...
475  trudeau campaigns against non candidate as he ...
476  trudeau poised for re election with weakened c...
477  medical cannabis belongs in pharmacies says ar...
478  brittany howard turns an endless road trip int...
479  rare yellow cardinal sighted escaped goat caug...
480  jim beam airbnb sasquatch museum police lowrid...

[481 rows x 1 columns]

In [125]:
searchKeys = ["Canada","University","Dalhousie University","Halifax","Canada Education"]
df_details = pd.DataFrame(columns = ['Search Query','Document containing term(df)', 'Total Documents(N)/ number of documents term appeared (df)','Log10(N/df)'])
df_details['Search Query'] = searchKeys

In [126]:
listDfs = []
listNbyDfs = []
listLogNbyDfs = []
for w in searchKeys:
    count = 0
    w = w.lower()
    for index,row in df_news.iterrows():
        news = row['news']
        if w in news:
            count+=1
            
    listDfs.append(count)
    listNbyDfs.append(str(numOfDocs)+"/"+str(count))
    if(count!=0):
        listLogNbyDfs.append(math.log10(numOfDocs/count))
    else:
        listLogNbyDfs.append("NA")

df_details['Document containing term(df)'] = listDfs
df_details['Total Documents(N)/ number of documents term appeared (df)'] = listNbyDfs
df_details['Log10(N/df)'] = listLogNbyDfs

In [127]:
print("Number of documents: ",df_news.shape[0])
df_details

Number of documents:  481

,Search Query,Document containing term(df),Total Documents(N)/ number of documents term appeared (df),Log10(N/df)
0,Canada,160,481/160,0.478025
1,University,98,481/98,0.690919
2,Dalhousie University,19,481/19,1.40339
3,Halifax,58,481/58,0.918717
4,Canada Education,0,481/0,NA

In [124]:
search = 'Canada'
df_detail_news = pd.DataFrame(columns = ["Term "+search+" in 160 docs","Total words(m)","Frequency(f)"])
print("Search term: ",search)
search_lower = search.lower()
listTotalWordCount = []
listSearchWordCount = []
listArticle = []
for index,row in df_news.iterrows():
    count=0
    news = row['news']
    if search_lower in news:
        tokenized = news.split(" ")
        total_words = len(tokenized)
        for word in tokenized:
            if word == search_lower:
                count+=1
        listTotalWordCount.append(total_words)
        listSearchWordCount.append(count)
        listArticle.append("Article #"+ str(index)) 
df_detail_news["Term "+search+" in 160 docs"]=listArticle
df_detail_news["Total words(m)"]=listTotalWordCount
df_detail_news["Frequency(f)"]=listSearchWordCount
df_detail_news

Search term:  Canada

    Term Canada in 160 docs  Total words(m)  Frequency(f)
0               Article #97              93             5
1               Article #98              73             1
2               Article #99             103             2
3              Article #100              82             1
4              Article #101              75             1
5              Article #102             102             2
6              Article #103              98             5
7              Article #104             110             6
8              Article #105              72             4
9              Article #106             106             5
10             Article #107              95             5
11             Article #108             112             2
12             Article #109              98             3
13             Article #110              94             2
14             Article #111             101             2
15             Article #112              98             4
16             Article #113             106             4
17             Article #114             113             3
18             Article #115             114             3
19             Article #116              99             2
20             Article #117             101             3
21             Article #118              90             2
22             Article #119              73             2
23             Article #120              76             2
24             Article #121              75             2
25             Article #122              74             1
26             Article #126              96             2
27             Article #127             116             5
28             Article #128              88             1
29             Article #129             101             2
..                      ...             ...           ...
130            Article #392             100             1
131            Article #393              80             1
132            Article #397              74             1
133            Article #402              91             1
134            Article #406              78             1
135            Article #410              63             1
136            Article #418              74             0
137            Article #421              74             1
138            Article #425              97             1
139            Article #430              87             1
140            Article #433              83             2
141            Article #434              76             1
142            Article #437              70             1
143            Article #440              86             2
144            Article #441              89             4
145            Article #442              96             1
146            Article #444              97             1
147            Article #450             116             1
148            Article #452              87             1
149            Article #455              96             1
150            Article #456              71             1
151            Article #462             101             1
152            Article #465              74             1
153            Article #466             104             1
154            Article #468              77             1
155            Article #470             108             2
156            Article #471              98             2
157            Article #473              94             2
158            Article #476             100             1
159            Article #477              82             2

[160 rows x 3 columns]

In [130]:
df_detail_news['f/m'] = df_detail_news.apply(lambda x: x['Frequency(f)']/x['Total words(m)'],axis=1)

In [131]:
df_detail_news

    Term Canada in 160 docs  Total words(m)  Frequency(f)       f/m
0               Article #97              93             5  0.053763
1               Article #98              73             1  0.013699
2               Article #99             103             2  0.019417
3              Article #100              82             1  0.012195
4              Article #101              75             1  0.013333
5              Article #102             102             2  0.019608
6              Article #103              98             5  0.051020
7              Article #104             110             6  0.054545
8              Article #105              72             4  0.055556
9              Article #106             106             5  0.047170
10             Article #107              95             5  0.052632
11             Article #108             112             2  0.017857
12             Article #109              98             3  0.030612
13             Article #110              94             2  0.021277
14             Article #111             101             2  0.019802
15             Article #112              98             4  0.040816
16             Article #113             106             4  0.037736
17             Article #114             113             3  0.026549
18             Article #115             114             3  0.026316
19             Article #116              99             2  0.020202
20             Article #117             101             3  0.029703
21             Article #118              90             2  0.022222
22             Article #119              73             2  0.027397
23             Article #120              76             2  0.026316
24             Article #121              75             2  0.026667
25             Article #122              74             1  0.013514
26             Article #126              96             2  0.020833
27             Article #127             116             5  0.043103
28             Article #128              88             1  0.011364
29             Article #129             101             2  0.019802
..                      ...             ...           ...       ...
130            Article #392             100             1  0.010000
131            Article #393              80             1  0.012500
132            Article #397              74             1  0.013514
133            Article #402              91             1  0.010989
134            Article #406              78             1  0.012821
135            Article #410              63             1  0.015873
136            Article #418              74             0  0.000000
137            Article #421              74             1  0.013514
138            Article #425              97             1  0.010309
139            Article #430              87             1  0.011494
140            Article #433              83             2  0.024096
141            Article #434              76             1  0.013158
142            Article #437              70             1  0.014286
143            Article #440              86             2  0.023256
144            Article #441              89             4  0.044944
145            Article #442              96             1  0.010417
146            Article #444              97             1  0.010309
147            Article #450             116             1  0.008621
148            Article #452              87             1  0.011494
149            Article #455              96             1  0.010417
150            Article #456              71             1  0.014085
151            Article #462             101             1  0.009901
152            Article #465              74             1  0.013514
153            Article #466             104             1  0.009615
154            Article #468              77             1  0.012987
155            Article #470             108             2  0.018519
156            Article #471              98             2  0.020408
157            Article #473              94             2  0.021277
158            Article #476             100             1  0.010000
159            Article #477              82             2  0.024390

[160 rows x 4 columns]

In [132]:
df_detail_news.loc[df_detail_news['f/m'].idxmax()]

Term Canada in 160 docs    Article #130
Total words(m)                       89
Frequency(f)                          5
f/m                           0.0561798
Name: 30, dtype: object